.arrow {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.arrowSvg {
    width: 100%;
    height: 100%;
}

.right-down {
    bottom: -110px;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-10%);
}

.right-up {
    top: -100px;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-10%);
}

@media (max-width: 1200px) {
    .right-down,
    .right-up {
        width: 100px;
        height: 80px;
    }

    .right-down {
        bottom: -80px;
    }

    .right-up {
        top: -70px;
    }
}

@media (max-width: 768px) {
    .right-down,
    .right-up {
        width: 60px;
        height: 65px;
    }

    .right-down {
        bottom: -65px;
    }

    .right-up {
        top: -65px;
    }
}

@media (max-width: 480px) {
    .right-down,
    .right-up {
        width: 35px;
        height: 40px;
    }

    .right-down {
        bottom: -40px;
    }

    .right-up {
        top: -40px;
    }
}

@media (max-width: 320px) {
    .right-down,
    .right-up {
        width: 35px;
        height: 35px;
    }

    .right-down {
        bottom: -35px;
    }

    .right-up {
        top: -35px;
    }
}
